[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg

package-name = collective.twofactor
package-extras = [test]
versions = versions

parts +=
    i18ndude
    omelette
    flake8
    createzopecoverage
    coverage-sh
    makefile
    robot

package-minimum-test-coverage = 90

[versions]
plone.app.testing=4.2.2

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[flake8]
recipe = zc.recipe.egg
eggs = flake8

[createzopecoverage]
recipe = createzopecoverage

[coverage-sh]
recipe = collective.recipe.template
input = templates/coverage.sh.in
output = ${buildout:directory}/bin/coverage.sh
mode = 755

[makefile]
recipe = collective.recipe.template
input = templates/Makefile.in
output = ${buildout:directory}/Makefile

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[ride,reload]
